<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home Page - </h1>
    <hr>
    <p>
        Welcome to the home page!
    </p>

    <p>
        User: <span sec:authentication="name"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>

    </p>


    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{leaders}" >Leadership Meeting</a>
            (only for Manager)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{systems}" >Systems Meeting</a>
            (only for Admin)
        </p>
    </div>

    <hr>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>

</body>

</html>